$bg-color: #2b2e44;
$block-bg: #33374a;

$warning-color: #ffb62d;
$progress-color: #7771fb;

$text-color: #feffff;
$text-color: #feffff;

$btn-bg: #3c4053;
$btn-border: #9c9fac;
$btn-success: #00cd6b;